@import 'src/scss/color';
@import 'src/scss/flex';

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 62.5% !important;
  margin: 0;
  background-image: linear-gradient(to left, #290348, #0F011B);
}
